# Problem 2

Now that we have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [30]:
import requests
import pandas as pd

In [31]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wiki)

df_raw = pd.read_html(wikipedia_page.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']

df_new.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [33]:
df_new.loc[df_new.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [34]:
df_new.Neighbourhood.replace('Not assigned',df_new.Borough,inplace=True)
df_new.head(8)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills

In [43]:
df_toronto = df_new.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_toronto = df_toronto.reset_index()
df_toronto.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_toronto.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [37]:
df_toronto.shape

(103, 3)

Geting the latitude and the longitude coordinates of each neighborhood

In [38]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [39]:
df_geo.shape

(103, 3)

Since both tables have the same shape, we can merge them.

In [51]:
df_merged = pd.merge(df_toronto, df_geo, on='Postal Code')
df_merged.head

<bound method NDFrame.head of     Postal Code      Borough  \
0           M1B  Scarborough
1           M1C  Scarborough
2           M1E  Scarborough
3           M1G  Scarborough
4           M1H  Scarborough
..          ...          ...
98          M9N         York
99          M9P    Etobicoke
100         M9R    Etobicoke
101         M9V    Etobicoke
102         M9W    Etobicoke

                                          Neighborhood  Latitude_x  \
0                                       Malvern, Rouge   43.806686
1               Rouge Hill, Port Union, Highland Creek   43.784535
2                    Guildwood, Morningside, West Hill   43.763573
3                                               Woburn   43.770992
4                                            Cedarbrae   43.773136
..                                                 ...         ...
98                                              Weston   43.706876
99                                           Westmount   43.696319
100  Kingsview Village, St. Phillips, Martin Grove ...   43.688905
101  South Steeles, Silverstone, Humbergate, Jamest...   43.739416
102                Northwest, West Humber - Clairville   43.706748

     Longitude_x  Latitude_y  Longitude_y
0     -79.194353   43.806686   -79.194353
1     -79.160497   43.784535   -79.160497
2     -79.188711   43.763573   -79.188711
3     -79.216917   43.770992   -79.216917
4     -79.239476   43.773136   -79.239476
..           ...         ...          ...
98    -79.518188   43.706876   -79.518188
99    -79.532242   43.696319   -79.532242
100   -79.554724   43.688905   -79.554724
101   -79.588437   43.739416   -79.588437
102   -79.594054   43.706748   -79.594054

[103 rows x 7 columns]>